@import "tailwindcss";

/* This replaces the 'theme' section of the old config file */
@custom-variant widescreen (@media (min-aspect-ratio: 3/2));
@custom-variant tallscreen (@media (max-aspect-ratio: 13/20));

@theme {
  @keyframes open-menu {
    0% { transform: scaleY(0); }
    80% { transform: scaleY(1.2); }
    100% { transform: scaleY(1); }
  }

  /* @colors papayawhip {
    light: '#fef4e4',
    DEFAULT: '#ffdfd5',
    dark: '#fee5bc',
  } */

  --color-papayawhip-light: #fef4e4;
  --color-papayawhip: papayawhip;
  --color-papayawhip-dark: #fee5bc;

  --animate-open-menu: open-menu 0.5s ease-in-out forwards;
}

/* Custom utilities */
@utility section-min-height {
  min-height: calc(100vh - 68px);
}

/* @utility toggle-btn {
  @apply [&>div::before]:translate-y-0 [&>div::before]:rotate-45 [&>div::after]:translate-y-0 [&>div::after]:-rotate-45 [&>div]:bg-transparent
} */

/* Modern */
@utility toggle-btn {

  & > div {
    @apply bg-transparent rotate-[720deg];
  }
  & > div:before {
    @apply translate-y-0 rotate-45;
  }
  & > div:after {
    @apply translate-y-0 -rotate-45;
  }
  
}